<!-- include header -->
<%- include("include/_header") %>

<!-- Main Site -->
<main>
    <div class="indexTopBar">
        <img src="img/SE-GitHub-image.png" alt="NCHS Logo" width="80" height="100"/>
        <h1>Creating Entry</h1>
        <a href="/" role="button">Go Back</a>
    </div>
    <div class="desc">An entry needs a date, habit of mind, and a description.</div>
    <hr /><hr /><hr /><hr />
    <div class="form">
        <label>Date <input type="date" class="date" /></label>

        <label>Habit of Mind
            <select id="hom">
                <% for(let habit of habits) { %>
                <option><%=habit%></option>
                <% } %>
            </select>
        </label>

        <label>Description <textarea id="content">My Journal Entry</textarea></label>
    </div>
    <input type="submit" class="submit" value="Create Entry" />
</main>

<!-- End of Main Site -->

<script src="/js/createEntry.js"></script>

<!-- include footer -->
<%- include("include/_footer") %>