<!-- include header -->
<%- include("include/_header") %>

<!-- Main Site -->
<main>
    <div class="indexTopBar">
        <img src="/img/SE-GitHub-image.png" alt="NCHS Logo" width="80" height="100"/>
        <h1>Editing Entry</h1>
        <a href="/" role="button">Go Back</a>
    </div>
    <div class="desc">You are re-writing this entry's description. An option to delete the entry is also available.</div>
    <hr /><hr /><hr /><hr />
    <div>
        <label>Entry Description <textarea id="content"><%=entry.content%></textarea></label>
        <div class="buttons">
            <input type="submit" class="submit" value="Change Entry" />
            <input type="submit" class="delete" value="Delete Entry" />
        </div>
    </div>
</main>

<!-- End of Main Site -->

<!-- include footer -->
<%- include("include/_footer") %>