<!-- include header -->
<%- include("include/_header") %>

<!-- Main Site -->
<main>
    <img src="img/SE-GitHub-image.png" alt="NCHS Logo" />
    <h1>Editing Entry</h1>
    <p>You are rewriting this entry's content. The date and habit of mind cannot be changed.</p>
    <div>
        <label>Journal Entry <textarea class="content"><%=entry.content%></textarea></label>
        <input type="submit" class="submit" value="Submit" />
    </div>
</main>

<!-- End of Main Site -->

<!-- include footer -->
<%- include("include/_footer") %>