/* styling for the authentication page */

.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.authForm img {
  width: 100px;
  height: 100px;
}

hr {
  border-top: 10px double gray;
  margin: 4px;
}

.indexTopBar {
  display: flex;
  flex-flow: row wrap;
}

.indexTopBar * {
  margin: 5px;
}

.indexTopBar a {
  max-height: 2em;
}

.desc {
  margin: 20px 20px -52px;
  max-width: fit-content;
  border: 3px ridge brown;
  padding: 4px;
  background-color: rgb(138, 42, 42);
  position: relative;
  z-index: 99999;
  color: yellow;
}

#filter {
  max-width: 600px;
}

.filterButton, .filterButton + a {
  max-width: 200px;
  margin: 10px;
}

.filterButtons, .entries, .buttons, .form, fieldset {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  border: 5px solid blue;
  margin: 8px;
  min-width: calc(100%/6);
  background-color: rgb(42, 0, 69);
}

.entry * {
  margin: 5px;
}

.entryDate {
  font-size: 18px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.entryHabit::before, .entryContent::before {
  font-size: 18px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-variant: small-caps;
  color: lightblue;
}

.entryHabit::before {
  content: "Habit ";
}

.entryContent::before {
  content: "Content ";
}

.form {
  display: flex;
  margin: 20px;
}

fieldset label {
  margin: 50px 5px;
}

label {
  margin: 0 20px;
}

input.submit {
  margin-left: 40px;
  max-width: 250px;
  animation: 0.1s unhoversubmit forwards;
}

input.submit:hover {
  animation: 0.1s hoversubmit forwards;
}

input.delete {
  margin-left: 40px;
  max-width: 250px;
  font-weight: 900;
  animation: 0.1s unhoverdelete forwards;
}

input.delete:hover {
  animation: 0.1s hoverdelete forwards;
}

.buttons::after {
  content: url(/img/exclamation.svg);
  right: 15px;
  bottom: 10px;
  position: relative;
}

@keyframes hoversubmit {
  from {
    background-color: rgb(69, 0, 42);
    border-color: darkred;
  }
  to {
    background-color: darkred;
    border-color: red;
  }
}

@keyframes unhoversubmit {
  from {
    background-color: darkred;
    border-color: red;
  }
  to {
    background-color: rgb(69, 0, 42);
    border-color: darkred;
  }
}

@keyframes hoverdelete {
  from {
    background-color: inherit;
    border-color: rgb(69, 0, 42);
    color: lightcoral;
  }
  to {
    background-color: darkred;
    border-color: white;
    color: white;
  }
}

@keyframes unhoverdelete {
  from {
    background-color: darkred;
    border-color: white;
    color: white;
  }
  to {
    background-color: #111;
    border-color: rgb(69, 0, 42);
    color: lightcoral;
  }
}
